<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <title>Projeto TCC</title>
</head>
<body>
    <header>
    </header>
    <main>
        <div class="content-matriz">
            <form action="POST" id="disciplinasForm">
            </form>
        </div>
        <div class="content-resultado">
            <h2>Sugestão de grade</h2>
            <div id="respostaServidor">
        </div>
    </main>
    <footer>

    </footer>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>